<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<h1 style="color: #8321ff; font-size: 80px">This is Datahead Testing Purpose API</h1>

   <script src="https://cdn.anychart.com/js/8.0.1/anychart-core.min.js"></script>
   <script src="https://cdn.anychart.com/js/8.0.1/anychart-pie.min.js"></script>

    <div id="container" style="width: 100%; height: 100%"></div>
    <script>
		        <!-- chart code will be here -->
		        anychart.onDocumentReady(function() {

		  // set the data
		  var data = [
		      {x: "White", value: 223553265},
		      {x: "Black or African American", value: 38929319},
		      {x: "American Indian and Alaska Native", value: 2932248},
		      {x: "Asian", value: 14674252},
		      {x: "Native Hawaiian and Other Pacific Islander", value: 540013},
		      {x: "Some Other Race", value: 19107368},
		      {x: "Two or More Races", value: 9009073}
		  ];

		  // create the chart
		  var chart = anychart.pie();

		  // set the chart title
		  chart.title("Population by Race for the United States: 2010 Census");

		  // add the data
		  chart.data(data);

		  // display the chart in the container
		  chart.container('container');
		  chart.draw();

		});anychart.onDocumentReady(function() {

		  // set the data
		  var data = [
		      {x: "White", value: 223553265},
		      {x: "Black or African American", value: 38929319},
		      {x: "American Indian and Alaska Native", value: 2932248},
		      {x: "Asian", value: 14674252},
		      {x: "Native Hawaiian and Other Pacific Islander", value: 540013},
		      {x: "Some Other Race", value: 19107368},
		      {x: "Two or More Races", value: 9009073}
		  ];

		  // create the chart
		  var chart = anychart.pie();

		  // set the chart title
		  chart.title("Population by Race for the United States: 2010 Census");

		  // add the data
		  chart.data(data);

		  // display the chart in the container
		  chart.container('container');
		  chart.draw();

		});
    </script>
 


<script>
window.onload = function() {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: "Desktop Search Engine Market Share - 2016"
	},
	data: [{
		type: "pie",
		startAngle: 240,
		yValueFormatString: "##0.00\"%\"",
		indexLabel: "{label} {y}",
		dataPoints: [
			{y: 79.45, label: "Google"},
			{y: 7.31, label: "Bing"},
			{y: 7.06, label: "Baidu"},
			{y: 4.91, label: "Yahoo"},
			{y: 1.26, label: "Others"}
		]
	}]
});
chart.render();

}
</script>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

</body>
</html>